.App {
  text-align: center;
}

.mainContainer {
  text-align: center;
  width: 100%
}

.playerList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.playerCard {
  width: 18%;
  height: 180px;
  border: 1px solid black
}
